html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: var(--header-font);
  margin: 0;
}
h3,
p {
  margin: 0;
}

em {
  font-style: normal;
}

.nowrap {
  white-space: nowrap;
}

.slideContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

div.slide {
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  cursor: hand;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

div.imageText {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* normally not good, but ok in context of full screen directional navigation */
.slide:focus {
  outline: 0;
}

div.slide > img:only-child,
div.slide > canvas:only-child,
div.slide > video:only-child {
  width: 100%;
}
