body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  overflow: hidden;
  gap: 2vw;
  padding: 10px 10px;
  min-height: 30vh;
}

.sub-container > :first-child {
  flex-basis: 40vw;
  flex-grow: 1;
  border: 1px ridge black;
}

.sub-container > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
}

img {
  width: 100%;
}

li {
  padding-bottom: 5px;
}
